<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Classification Report for Disaster Response Pipeline</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</head>

<body>
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/v1001/">My GitHub Page</a></li>
            </ul>
        </div>
    </div>
      
<div class="jumbotron">
    <div class="container" >
      <h3 class="text-center">Classification report for the final classifier</h3>
      <style>
    div.justified {
        display: flex;
        justify-content: center;
    }
</style>
      <div class="justified">
      <textarea cols=50 rows =20>
  
Classification result for category "related":
             precision    recall  f1-score   support

          0       0.64      0.58      0.61      1540
          1       0.87      0.90      0.89      4967

avg / total       0.82      0.82      0.82      6507

Classification result for category "request":
             precision    recall  f1-score   support

          0       0.94      0.91      0.93      5387
          1       0.63      0.71      0.67      1120

avg / total       0.89      0.88      0.88      6507

Classification result for category "offer":
             precision    recall  f1-score   support

          0       1.00      1.00      1.00      6484
          1       0.50      0.04      0.08        23

avg / total       0.99      1.00      0.99      6507

Classification result for category "aid_related":
             precision    recall  f1-score   support

          0       0.83      0.74      0.78      3828
          1       0.67      0.78      0.72      2679

avg / total       0.76      0.75      0.76      6507

Classification result for category "medical_help":
             precision    recall  f1-score   support

          0       0.95      0.95      0.95      5988
          1       0.46      0.47      0.47       519

avg / total       0.91      0.91      0.91      6507

Classification result for category "medical_products":
             precision    recall  f1-score   support

          0       0.97      0.98      0.97      6186
          1       0.50      0.49      0.50       321

avg / total       0.95      0.95      0.95      6507

Classification result for category "search_and_rescue":
             precision    recall  f1-score   support

          0       0.98      0.99      0.99      6354
          1       0.46      0.22      0.30       153

avg / total       0.97      0.98      0.97      6507

Classification result for category "security":
             precision    recall  f1-score   support

          0       0.98      1.00      0.99      6383
          1       0.23      0.05      0.08       124

avg / total       0.97      0.98      0.97      6507

Classification result for category "military":
             precision    recall  f1-score   support

          0       0.98      0.98      0.98      6284
          1       0.51      0.55      0.53       223

avg / total       0.97      0.97      0.97      6507

Classification result for category "water":
             precision    recall  f1-score   support

          0       0.99      0.97      0.98      6091
          1       0.66      0.81      0.72       416

avg / total       0.97      0.96      0.96      6507

Classification result for category "food":
             precision    recall  f1-score   support

          0       0.98      0.96      0.97      5783
          1       0.74      0.81      0.78       724

avg / total       0.95      0.95      0.95      6507

Classification result for category "shelter":
             precision    recall  f1-score   support

          0       0.97      0.95      0.96      5928
          1       0.60      0.71      0.65       579

avg / total       0.94      0.93      0.93      6507

Classification result for category "clothing":
             precision    recall  f1-score   support

          0       0.99      1.00      0.99      6410
          1       0.65      0.55      0.60        97

avg / total       0.99      0.99      0.99      6507

Classification result for category "money":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      6366
          1       0.42      0.45      0.44       141

avg / total       0.98      0.97      0.97      6507

Classification result for category "missing_people":
             precision    recall  f1-score   support

          0       0.99      1.00      0.99      6425
          1       0.45      0.18      0.26        82

avg / total       0.98      0.99      0.98      6507

Classification result for category "refugees":
             precision    recall  f1-score   support

          0       0.98      0.99      0.98      6266
          1       0.53      0.35      0.42       241

avg / total       0.96      0.96      0.96      6507

Classification result for category "death":
             precision    recall  f1-score   support

          0       0.98      0.99      0.98      6214
          1       0.68      0.66      0.67       293

avg / total       0.97      0.97      0.97      6507

Classification result for category "other_aid":
             precision    recall  f1-score   support

          0       0.91      0.89      0.90      5642
          1       0.38      0.44      0.41       865

avg / total       0.84      0.83      0.84      6507

Classification result for category "infrastructure_related":
             precision    recall  f1-score   support

          0       0.95      0.96      0.95      6073
          1       0.28      0.23      0.25       434

avg / total       0.90      0.91      0.90      6507

Classification result for category "transport":
             precision    recall  f1-score   support

          0       0.97      0.98      0.98      6208
          1       0.47      0.31      0.38       299

avg / total       0.94      0.95      0.95      6507

Classification result for category "buildings":
             precision    recall  f1-score   support

          0       0.98      0.97      0.97      6169
          1       0.49      0.58      0.53       338

avg / total       0.95      0.95      0.95      6507

Classification result for category "electricity":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      6379
          1       0.52      0.55      0.53       128

avg / total       0.98      0.98      0.98      6507

Classification result for category "tools":
             precision    recall  f1-score   support

          0       0.99      1.00      1.00      6470
          1       0.00      0.00      0.00        37

avg / total       0.99      0.99      0.99      6507

Classification result for category "hospitals":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      6447
          1       0.28      0.25      0.27        60

avg / total       0.99      0.99      0.99      6507

Classification result for category "shops":
             precision    recall  f1-score   support

          0       0.99      1.00      1.00      6474
          1       0.00      0.00      0.00        33

avg / total       0.99      0.99      0.99      6507

Classification result for category "aid_centers":
             precision    recall  f1-score   support

          0       0.99      1.00      0.99      6431
          1       0.28      0.11      0.15        76

avg / total       0.98      0.99      0.98      6507

Classification result for category "other_infrastructure":
             precision    recall  f1-score   support

          0       0.96      0.98      0.97      6208
          1       0.25      0.17      0.20       299

avg / total       0.93      0.94      0.93      6507

Classification result for category "weather_related":
             precision    recall  f1-score   support

          0       0.92      0.90      0.91      4657
          1       0.75      0.80      0.77      1850

avg / total       0.87      0.87      0.87      6507

Classification result for category "floods":
             precision    recall  f1-score   support

          0       0.97      0.98      0.97      5975
          1       0.70      0.63      0.66       532

avg / total       0.95      0.95      0.95      6507

Classification result for category "storm":
             precision    recall  f1-score   support

          0       0.98      0.96      0.97      5880
          1       0.69      0.78      0.73       627

avg / total       0.95      0.94      0.95      6507

Classification result for category "fire":
             precision    recall  f1-score   support

          0       0.99      1.00      0.99      6448
          1       0.31      0.08      0.13        59

avg / total       0.99      0.99      0.99      6507

Classification result for category "earthquake":
             precision    recall  f1-score   support

          0       0.98      0.98      0.98      5853
          1       0.85      0.82      0.84       654

avg / total       0.97      0.97      0.97      6507

Classification result for category "cold":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      6369
          1       0.55      0.41      0.47       138

avg / total       0.98      0.98      0.98      6507

Classification result for category "other_weather":
             precision    recall  f1-score   support

          0       0.96      0.98      0.97      6162
          1       0.42      0.33      0.37       345

avg / total       0.93      0.94      0.94      6507

Classification result for category "direct_report":
             precision    recall  f1-score   support

          0       0.91      0.88      0.90      5216
          1       0.58      0.65      0.61      1291

avg / total       0.85      0.84      0.84      6507
        
        </textarea>
      </div>
			</div>
    	</div>
    </body>
</html>