<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Classification Report for Disaster Response Pipeline</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</head>

<body>
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Disaster Response Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="https://www.udacity.com/">Made with Udacity</a></li>
                <li><a href="https://github.com/v1001/">My GitHub Page</a></li>
            </ul>
        </div>
    </div>
      
<div class="jumbotron">
    <div class="container" >
      <h3 class="text-center">Classification report for the final classifier</h3>
      <style>
    div.justified {
        display: flex;
        justify-content: center;
    }
</style>
      <div class="justified">
      <textarea cols=50 rows =20>
  
             precision    recall  f1-score   support

          0       0.63      0.62      0.63      1243
          1       0.88      0.89      0.88      3994

avg / total       0.82      0.82      0.82      5237

Classification result for category "request":
             precision    recall  f1-score   support

          0       0.94      0.91      0.92      4340
          1       0.61      0.72      0.66       897

avg / total       0.88      0.87      0.88      5237

Classification result for category "offer":
             precision    recall  f1-score   support

          0       1.00      1.00      1.00      5214
          1       0.14      0.04      0.07        23

avg / total       0.99      0.99      0.99      5237

Classification result for category "aid_related":
             precision    recall  f1-score   support

          0       0.83      0.76      0.79      3046
          1       0.70      0.78      0.74      2191

avg / total       0.77      0.77      0.77      5237

Classification result for category "medical_help":
             precision    recall  f1-score   support

          0       0.96      0.95      0.95      4800
          1       0.48      0.53      0.50       437

avg / total       0.92      0.91      0.91      5237

Classification result for category "medical_products":
             precision    recall  f1-score   support

          0       0.98      0.97      0.97      4987
          1       0.49      0.54      0.51       250

avg / total       0.95      0.95      0.95      5237

Classification result for category "search_and_rescue":
             precision    recall  f1-score   support

          0       0.98      0.99      0.98      5097
          1       0.42      0.26      0.32       140

avg / total       0.96      0.97      0.97      5237

Classification result for category "security":
             precision    recall  f1-score   support

          0       0.98      0.99      0.99      5150
          1       0.12      0.06      0.08        87

avg / total       0.97      0.98      0.97      5237

Classification result for category "military":
             precision    recall  f1-score   support

          0       0.98      0.98      0.98      5062
          1       0.54      0.55      0.54       175

avg / total       0.97      0.97      0.97      5237

Classification result for category "water":
             precision    recall  f1-score   support

          0       0.99      0.97      0.98      4895
          1       0.66      0.81      0.73       342

avg / total       0.97      0.96      0.96      5237

Classification result for category "food":
             precision    recall  f1-score   support

          0       0.97      0.97      0.97      4650
          1       0.76      0.80      0.78       587

avg / total       0.95      0.95      0.95      5237

Classification result for category "shelter":
             precision    recall  f1-score   support

          0       0.97      0.96      0.97      4751
          1       0.66      0.73      0.70       486

avg / total       0.94      0.94      0.94      5237

Classification result for category "clothing":
             precision    recall  f1-score   support

          0       0.99      1.00      0.99      5150
          1       0.76      0.55      0.64        87

avg / total       0.99      0.99      0.99      5237

Classification result for category "money":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      5118
          1       0.47      0.48      0.47       119

avg / total       0.98      0.98      0.98      5237

Classification result for category "missing_people":
             precision    recall  f1-score   support

          0       0.99      1.00      0.99      5182
          1       0.32      0.15      0.20        55

avg / total       0.98      0.99      0.99      5237

Classification result for category "refugees":
             precision    recall  f1-score   support

          0       0.98      0.98      0.98      5052
          1       0.49      0.43      0.46       185

avg / total       0.96      0.96      0.96      5237

Classification result for category "death":
             precision    recall  f1-score   support

          0       0.98      0.98      0.98      4998
          1       0.65      0.63      0.64       239

avg / total       0.97      0.97      0.97      5237

Classification result for category "other_aid":
             precision    recall  f1-score   support

          0       0.91      0.87      0.89      4562
          1       0.34      0.45      0.39       675

avg / total       0.84      0.82      0.83      5237

Classification result for category "infrastructure_related":
             precision    recall  f1-score   support

          0       0.95      0.95      0.95      4870
          1       0.28      0.27      0.28       367

avg / total       0.90      0.90      0.90      5237

Classification result for category "transport":
             precision    recall  f1-score   support

          0       0.97      0.98      0.97      4991
          1       0.47      0.35      0.40       246

avg / total       0.94      0.95      0.95      5237

Classification result for category "buildings":
             precision    recall  f1-score   support

          0       0.98      0.97      0.97      4963
          1       0.51      0.59      0.55       274

avg / total       0.95      0.95      0.95      5237

Classification result for category "electricity":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      5123
          1       0.54      0.59      0.56       114

avg / total       0.98      0.98      0.98      5237

Classification result for category "tools":
             precision    recall  f1-score   support

          0       0.99      1.00      1.00      5205
          1       0.00      0.00      0.00        32

avg / total       0.99      0.99      0.99      5237

Classification result for category "hospitals":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      5185
          1       0.26      0.23      0.24        52

avg / total       0.98      0.99      0.99      5237

Classification result for category "shops":
             precision    recall  f1-score   support

          0       1.00      1.00      1.00      5216
          1       0.00      0.00      0.00        21

avg / total       0.99      0.99      0.99      5237

Classification result for category "aid_centers":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      5166
          1       0.33      0.18      0.23        71

avg / total       0.98      0.98      0.98      5237

Classification result for category "other_infrastructure":
             precision    recall  f1-score   support

          0       0.96      0.97      0.97      4988
          1       0.24      0.18      0.21       249

avg / total       0.93      0.93      0.93      5237

Classification result for category "weather_related":
             precision    recall  f1-score   support

          0       0.92      0.90      0.91      3816
          1       0.74      0.79      0.77      1421

avg / total       0.87      0.87      0.87      5237

Classification result for category "floods":
             precision    recall  f1-score   support

          0       0.97      0.98      0.97      4825
          1       0.72      0.65      0.68       412

avg / total       0.95      0.95      0.95      5237

Classification result for category "storm":
             precision    recall  f1-score   support

          0       0.98      0.96      0.97      4771
          1       0.66      0.78      0.71       466

avg / total       0.95      0.94      0.95      5237

Classification result for category "fire":
             precision    recall  f1-score   support

          0       0.99      1.00      1.00      5189
          1       0.53      0.19      0.28        48

avg / total       0.99      0.99      0.99      5237

Classification result for category "earthquake":
             precision    recall  f1-score   support

          0       0.98      0.98      0.98      4758
          1       0.84      0.84      0.84       479

avg / total       0.97      0.97      0.97      5237

Classification result for category "cold":
             precision    recall  f1-score   support

          0       0.99      0.99      0.99      5133
          1       0.55      0.45      0.50       104

avg / total       0.98      0.98      0.98      5237

Classification result for category "other_weather":
             precision    recall  f1-score   support

          0       0.97      0.97      0.97      4980
          1       0.36      0.36      0.36       257

avg / total       0.94      0.94      0.94      5237

Classification result for category "direct_report":
             precision    recall  f1-score   support

          0       0.92      0.87      0.89      4242
          1       0.54      0.68      0.60       995

avg / total       0.85      0.83      0.84      5237
        
        </textarea>
      </div>
			</div>
    	</div>
    </body>
</html>